body {
  text-align: center;
  background-color: #eae7db;
}

#main {
  padding: 0 20px;
}

#game {
  min-width: 605px;
  min-height: 637px;
  background-color: #fff;
  margin: 5px;
  border: 2px solid #dfd9c8;
  border-radius: 10px;
}

#sidebar {
  min-height: 637px;
  background-color: #fff;
  margin: 5px;
  border: 2px solid #dfd9c8;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  color: #fff;
}

h2 {
  margin: 0;
}

hr {
  border-top: 1px solid #dfd9c8;
}

.navbar {
  color: #fff;
}

.navbar-default {
  background-color: #2fc881;
  border-bottom: 1px solid #195A19;
}

.navbar-default .navbar-brand {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  font-family: 'Delius Unicase', sans-serif;
  text-shadow: 0 0 2px #006400;
}
